In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

In [2]:
and_table = pd.read_csv("data_base/copyover_table.csv", sep="\t")

In [3]:
species_andrew = and_table.Taxon.str.strip()

In [4]:
species_andrew[2]

'Thalassiosira spp.'

In [5]:
and_table

,CPR_ID,Unnamed: 1,Taxon,Log10_meancellmass,Log10_SDcellmass,n,CellSize sources,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,101,NaN,Paralia sulcata,−3.82,−4.04,8,"16, 18, 31, 38, 40, 45, 51",NaN,NaN,NaN,NaN,NaN,NaN
1,102,NaN,Skeletonema costatum,−4.39,−4.32,54,"1, 3, 8, 16, 18, 25, 31, 33, 38, 40, 45, 46, 5...",NaN,NaN,NaN,NaN,NaN,NaN
2,103,NaN,Thalassiosira spp.,−2.96,−2.87,162,"9, 11, 16, 24, 25, 28, 29, 31, 32, 35, 38, 40,...",NaN,NaN,NaN,NaN,NaN,NaN
3,104,NaN,Dactyliosolen antarcticus,−2.23,−2.13,2,"9, 50",NaN,NaN,NaN,NaN,NaN,NaN
4,105,NaN,Dactyliosolen mediterraneus,−3.10,−3.06,5,"1, 31, 44, 52, 54",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,257,NaN,Podolampas spp.,−2.26,−2.47,7,"15, 16, 31, 54",NaN,NaN,NaN,NaN,NaN,NaN
109,258,NaN,Pronoctiluca pelagica,−3.25,−3.40,4,"1, 31, 38, 40",NaN,NaN,NaN,NaN,NaN,NaN
110,259,NaN,Prorocentrum spp.,−2.90,−3.14,17,"2, 7, 11, 16, 18, 25, 26, 30, 31, 38, 40, 51, ...",NaN,NaN,NaN,NaN,NaN,NaN
111,262,NaN,Ceratium falcatiforme,−2.22,−2.42,2,"21, 48",NaN,NaN,NaN,NaN,NaN,NaN
112,263,,Ceratium longirostrum,−2.46,−3.03,3,"21, 37, 48",NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
and_table.Taxon = and_table.Taxon.str.strip()

In [37]:
car_table = pd.read_csv("../annotatedDATA/worms_dat_annotated_OLDFUNCGROUP.csv", sep=";", decimal=',')
car_table['cellsize'] = 0

In [79]:
rows = []
for spec in car_table.scientificname.str.strip():
    if sum(and_table.Taxon.str.contains(spec[0:17]))>0:
        log10 = and_table.Log10_meancellmass.loc[and_table.Taxon.str.contains(spec[0:17])]
        name = and_table.Taxon.loc[and_table.Taxon.str.contains(spec[0:17])]
        #print(name.values[0])
        rows.append([spec, name.values[0], log10.values[0]])
        
df = pd.DataFrame(rows, columns=["car_spec", "and_spec", "log10cellmass"])

In [85]:
df.log10cellmass

0     −3.53
1     −2.94
2     −2.94
3     −1.91
4     −1.91
5     −2.55
6     −2.30
7     −2.51
8     −1.94
9     −3.41
10    −3.43
11    −0.76
12    −2.26
13    −2.60
14    −3.27
15    −2.90
16    −4.07
17    −2.41
18    −2.38
19    −2.85
20    −3.90
21    −3.57
22    −4.09
23    −3.13
24    −3.82
25    −3.19
26    −2.26
27    −2.90
28    −2.06
29    −2.06
30    −2.06
31    −2.06
32    −0.92
33    −2.27
34    −1.96
35    −2.07
36    −2.65
37    −2.81
38    −1.91
39    −4.39
40    −2.41
41    −4.17
42    −2.96
43    −3.51
Name: log10cellmass, dtype: object

In [88]:
df.log10cellmass = df.log10cellmass.str.replace("−", "-").astype(np.float64)

In [89]:
df.to_csv("first_test_cellmasses_andrew.csv")

In [20]:
a = []
for row in car_table.scientificname:
    spec_contained = and_table.Taxon.str.contains(spec)
    if sum(spec_contained) > 0:
            car_table.loc[np.where(car_table.scientificname==spec)]['cellmass'] = and_table.loc[np.where(and_table.Taxon==spec)]['Log10_meancellmass']
        
    a.append(sum(spec_contained>0))
    
print(sum(a))

42

In [15]:
car_table['cellmass'] = 0

In [21]:
car_table['cellmass'].sum()

0

In [17]:
car_table = pd.read_csv("../annotatedDATA/worms_dat_annotated_OLDFUNCGROUP.csv", sep=";", decimal=',')

In [21]:
species_car = car_table.scientificname

In [22]:
species_car[2]

'Pauliella cf. taeniata'

In [46]:
a = []
for spec in species_andrew:
    spec_contained = species_car.str.contains(spec)
    if sum(spec_contained) > 0:
        print(spec, sum(spec_contained), car_table.loc[np.where(car_table.scientificname==spec)])
    a.append(sum(spec_contained>0))
    
print(sum(a))

Paralia sulcata 1      Unnamed: 0   AphiaID   aphiaid      speciesorig     speciesclean  \
432         230  149055.0  149055.0  Paralia sulcata  Paralia sulcata

      scientificname classificationgroup functionalgroup_old  \
432  Paralia sulcata                 NaN             DIATOMS

                                              wm_attrs  \
432  Functional group:benthos, Functional group:pla...

                                            wm_classes
432  Chromista_Harosa_Heterokonta_Ochrophyta_Khakis...
Skeletonema costatum 1      Unnamed: 0   AphiaID   aphiaid           speciesorig  \
573         233  149074.0  149074.0  Skeletonema costatum

             speciesclean        scientificname classificationgroup  \
573  Skeletonema costatum  Skeletonema costatum                 NaN

    functionalgroup_old                                           wm_attrs  \
573             DIATOMS  Body size:3, Body size:20, Functional group:be...

                                            wm_classes
573  Chromista_Harosa_Heterokonta_Ochrophyta_Khakis...
Rhizosolenia styliformis 1      Unnamed: 0   AphiaID   aphiaid               speciesorig  \
561         330  149629.0  149629.0  Rhizosolenia styliformis

                 speciesclean            scientificname classificationgroup  \
561  Rhizosolenia styliformis  Rhizosolenia styliformis                 NaN

    functionalgroup_old                                   wm_attrs  \
561             DIATOMS  Functional group:plankton > phytoplankton

                                            wm_classes
561  Chromista_Harosa_Heterokonta_Ochrophyta_Khakis...
Thalassiothrix longissima 1      Unnamed: 0   AphiaID   aphiaid                speciesorig  \
623         348  157083.0  157083.0  Thalassiothrix longissima

                  speciesclean             scientificname classificationgroup  \
623  Thalassiothrix longissima  Thalassiothrix longissima                 NaN

    functionalgroup_old                                           wm_attrs  \
623             DIATOMS  Body size:400, Body size:400, Functional group...

                                            wm_classes
623  Chromista_Harosa_Heterokonta_Ochrophyta_Khakis...
Thalassionema nitzschioides 1      Unnamed: 0   AphiaID   aphiaid                 speciesorig  \
610         236  149093.0  149093.0  Thalassionema nitzschiodes

                    speciesclean               scientificname  \
610  Thalassionema nitzschioides  Thalassionema nitzschioides

    classificationgroup functionalgroup_old  \
610                 NaN             DIATOMS

                                              wm_attrs  \
610  Body size:10, Body size:110, Functional group:...

                                            wm_classes
610  Chromista_Harosa_Heterokonta_Ochrophyta_Khakis...
Ceratium tripos 1 Empty DataFrame
Columns: [Unnamed: 0, AphiaID, aphiaid, speciesorig, speciesclean, scientificname, classificationgroup, functionalgroup_old, wm_attrs, wm_classes]
Index: []
Cerataulina pelagica 2     Unnamed: 0   AphiaID   aphiaid           speciesorig  \
63         290  149237.0  149237.0  Cerataulina bergonii
64         329  149619.0  149619.0  Cerataulina pelagica

            speciesclean        scientificname classificationgroup  \
63  Cerataulina bergonii  Cerataulina pelagica                 NaN
64  Cerataulina pelagica  Cerataulina pelagica                 NaN

   functionalgroup_old                                           wm_attrs  \
63             DIATOMS                                                NaN
64             DIATOMS  Body size:10, Body size:60, Functional group:p...

                                           wm_classes
63  Chromista_Harosa_Heterokonta_Ochrophyta_Khakis...
64  Chromista_Harosa_Heterokonta_Ochrophyta_Khakis...
Climacodium frauenfeldianum 1      Unnamed: 0   AphiaID   aphiaid               speciesorig  \
161         411  196804.0  196804.0  Climacodium frauenfeldia

                    speciesclean               scientificname  \
161  Climacodium frauenfeldianum  Climacodium frauenfeldianum

    classificationgroup functionalgroup_old  \
161                 NaN             DIATOMS

                                      wm_attrs  \
161  Functional group:plankton > phytoplankton

                                            wm_classes
161  Chromista_Harosa_Heterokonta_Ochrophyta_Khakis...
Ditylum brightwellii 1      Unnamed: 0   AphiaID   aphiaid          speciesorig  \
225         223  149023.0  149023.0  Dytilum brightwelli

             speciesclean        scientificname classificationgroup  \
225  Ditylum brightwellii  Ditylum brightwellii                 NaN

    functionalgroup_old                                           wm_attrs  \
225             DIATOMS  Body size:20, Body size:120, Functional group:...

                                            wm_classes
225  Chromista_Harosa_Heterokonta_Ochrophyta_Khakis...
Eucampia zodiacus 1      Unnamed: 0   AphiaID   aphiaid        speciesorig       speciesclean  \
237         259  149131.0  149131.0  Eucampia zodiacus  Eucampia zodiacus

        scientificname classificationgroup functionalgroup_old  \
237  Eucampia zodiacus                 NaN             DIATOMS

                                              wm_attrs  \
237  Body size:10, Body size:100, Functional group:...

                                            wm_classes
237  Chromista_Harosa_Heterokonta_Ochrophyta_Khakis...
Guinardia flaccida 1      Unnamed: 0   AphiaID   aphiaid         speciesorig        speciesclean  \
273         260  149132.0  149132.0  Guinardia flaccida  Guinardia flaccida

         scientificname classificationgroup functionalgroup_old  \
273  Guinardia flaccida                 NaN             DIATOMS

                                              wm_attrs  \
273  Body size:25, Body size:95, Functional group:p...

                                            wm_classes
273  Chromista_Harosa_Heterokonta_Ochrophyta_Khakis...
Leptocylindrus danicus 1      Unnamed: 0   AphiaID   aphiaid             speciesorig  \
343         242  149106.0  149106.0  Leptocilindrus danicus

               speciesclean          scientificname classificationgroup  \
343  Leptocylindrus danicus  Leptocylindrus danicus                 NaN

    functionalgroup_old                                           wm_attrs  \
343             DIATOMS  Body size:5, Body size:15, Body size:25, Body ...

                                            wm_classes
343  Chromista_Harosa_Heterokonta_Ochrophyta_Khakis...
Planktoniella sol 1      Unnamed: 0   AphiaID   aphiaid        speciesorig       speciesclean  \
448         414  196815.0  196815.0  Planktoniella sol  Planktoniella sol

        scientificname classificationgroup functionalgroup_old  \
448  Planktoniella sol                 NaN             DIATOMS

                                              wm_attrs  \
448  Functional group:benthos, Functional group:pla...

                                            wm_classes
448  Chromista_Harosa_Heterokonta_Ochrophyta_Khakis...
Rhizosolenia acuminata 1      Unnamed: 0   AphiaID   aphiaid             speciesorig  \
548         412  196805.0  196805.0  Rhisozolenia acuminata

               speciesclean          scientificname classificationgroup  \
548  Rhizosolenia acuminata  Rhizosolenia acuminata                 NaN

    functionalgroup_old wm_attrs  \
548             DIATOMS      NaN

                                            wm_classes
548  Chromista_Harosa_Heterokonta_Ochrophyta_Khakis...
Rhizosolenia bergonii 1      Unnamed: 0   AphiaID   aphiaid            speciesorig  \
551         413  196811.0  196811.0  Rhizosolenia bergonii

              speciesclean         scientificname classificationgroup  \
551  Rhizosolenia bergonii  Rhizosolenia bergonii                 NaN

    functionalgroup_old       wm_attrs  \
551             DIATOMS  Body size:500

                                            wm_classes
551  Chromista_Harosa_Heterokonta_Ochrophyta_Khakis...
Rhizosolenia setigera 1      Unnamed: 0   AphiaID   aphiaid            speciesorig  \
549         247  149115.0  149115.0  Rhisozolenia setigera

              speciesclean         scientificname classificationgroup  \
549  Rhizosolenia setigera  Rhizosolenia setigera                 NaN

    functionalgroup_old                                           wm_attrs  \
549             DIATOMS  Body size:15, Body size:50, Body size:250, Bod...

                                            wm_classes
549  Chromista_Harosa_Heterokonta_Ochrophyta_Khakis...
Ceratium falcatum 1     Unnamed: 0   AphiaID   aphiaid        speciesorig       speciesclean  \
79          85  109949.0  109949.0  Ceratium falcatum  Ceratium falcatum

       scientificname classificationgroup functionalgroup_old wm_attrs  \
79  Ceratium falcatum                 NaN     DINOFLAGELLATES      NaN

                                           wm_classes
79  Chromista_Harosa_Alveolata_Myzozoa_Dinozoa_Din...
Ceratium extensum 1     Unnamed: 0   AphiaID   aphiaid        speciesorig       speciesclean  \
77          83  109947.0  109947.0  Ceratium extensum  Ceratium extensum

       scientificname classificationgroup functionalgroup_old wm_attrs  \
77  Ceratium extensum                 NaN     DINOFLAGELLATES      NaN

                                           wm_classes
77  Chromista_Harosa_Alveolata_Myzozoa_Dinozoa_Din...
Ceratium inflatum 1     Unnamed: 0   AphiaID   aphiaid        speciesorig       speciesclean  \
85          90  109958.0  109958.0  Ceratium inflatum  Ceratium inflatum

       scientificname classificationgroup functionalgroup_old wm_attrs  \
85  Ceratium inflatum                 NaN     DINOFLAGELLATES      NaN

                                           wm_classes
85  Chromista_Harosa_Alveolata_Myzozoa_Dinozoa_Din...
Ceratium teres 1      Unnamed: 0   AphiaID   aphiaid     speciesorig    speciesclean  \
105          99  109980.0  109980.0  Ceratium teres  Ceratium teres

     scientificname classificationgroup functionalgroup_old wm_attrs  \
105  Ceratium teres                 NaN     DINOFLAGELLATES      NaN

                                            wm_classes
105  Chromista_Harosa_Alveolata_Myzozoa_Dinozoa_Din...
Ceratium trichoceros 1      Unnamed: 0   AphiaID   aphiaid           speciesorig  \
106         100  109981.0  109981.0  Ceratium trichoceros

             speciesclean        scientificname classificationgroup  \
106  Ceratium trichoceros  Ceratium trichoceros                 NaN

    functionalgroup_old                                           wm_attrs  \
106     DINOFLAGELLATES  Body size (qualitative):<0.2 mm, Functional gr...

                                            wm_classes
106  Chromista_Harosa_Alveolata_Myzozoa_Dinozoa_Din...
22

/var/folders/s8/8ypwvww534g_q5s51__36bmc0000gp/T/ipykernel_27531/1418200320.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  spec_contained = species_car.str.contains(spec)

In [50]:
a = []
for spec in species_car:
    spec_contained = species_andrew.str.contains(spec)
    if sum(spec_contained) > 0:
        print(spec, sum(spec_contained), car_table.scientificname.loc[np.where(car_table.scientificname==spec)])
    a.append(sum(spec_contained>0))
    
print(sum(a))

Bacteriastrum sp. 1 37    Bacteriastrum sp.
Name: scientificname, dtype: object
Cerataulina pelagica 1 63    Cerataulina pelagica
64    Cerataulina pelagica
Name: scientificname, dtype: object
Cerataulina pelagica 1 63    Cerataulina pelagica
64    Cerataulina pelagica
Name: scientificname, dtype: object
Ceratium extensum 1 77    Ceratium extensum
Name: scientificname, dtype: object
Ceratium falcatum 1 79    Ceratium falcatum
Name: scientificname, dtype: object
Ceratium inflatum 1 85    Ceratium inflatum
Name: scientificname, dtype: object
Ceratium teres 1 105    Ceratium teres
Name: scientificname, dtype: object
Ceratium trichoceros 1 106    Ceratium trichoceros
Name: scientificname, dtype: object
Cladopyxis sp. 1 160    Cladopyxis sp.
Name: scientificname, dtype: object
Climacodium frauenfeldianum 1 161    Climacodium frauenfeldianum
Name: scientificname, dtype: object
Coscinodiscus sp. 1 184    Coscinodiscus sp.
Name: scientificname, dtype: object
Dinophysis sp. 1 215    Dinophysis sp.
Name: scientificname, dtype: object
Ditylum brightwellii 1 225    Ditylum brightwellii
Name: scientificname, dtype: object
Eucampia zodiacus 1 237    Eucampia zodiacus
Name: scientificname, dtype: object
Prorocentrum sp. 1 243    Prorocentrum sp.
481    Prorocentrum sp.
Name: scientificname, dtype: object
Fragilaria sp. 1 248    Fragilaria sp.
Name: scientificname, dtype: object
Gonyaulax sp. 1 265    Gonyaulax sp.
Name: scientificname, dtype: object
Guinardia flaccida 1 273    Guinardia flaccida
Name: scientificname, dtype: object
Gyrosigma sp. 1 315    Gyrosigma sp.
Name: scientificname, dtype: object
Leptocylindrus danicus 1 343    Leptocylindrus danicus
Name: scientificname, dtype: object
Navicula sp. 1 378    Navicula sp.
Name: scientificname, dtype: object
Nitzschia 4 388    Nitzschia
Name: scientificname, dtype: object
Oxytoxum sp. 1 419    Oxytoxum sp.
Name: scientificname, dtype: object
Paralia sulcata 1 432    Paralia sulcata
Name: scientificname, dtype: object
Planktoniella sol 1 448    Planktoniella sol
Name: scientificname, dtype: object
Podolampas sp. 1 459    Podolampas sp.
Name: scientificname, dtype: object
Prorocentrum sp. 1 243    Prorocentrum sp.
481    Prorocentrum sp.
Name: scientificname, dtype: object
Protoperidinium sp. 1 522    Protoperidinium sp.
Name: scientificname, dtype: object
Rhizosolenia acuminata 1 548    Rhizosolenia acuminata
Name: scientificname, dtype: object
Rhizosolenia setigera 1 549    Rhizosolenia setigera
Name: scientificname, dtype: object
Rhizosolenia bergonii 1 551    Rhizosolenia bergonii
Name: scientificname, dtype: object
Rhizosolenia hebetata 1 556    Rhizosolenia hebetata
Name: scientificname, dtype: object
Rhizosolenia imbricata 1 558    Rhizosolenia imbricata
Name: scientificname, dtype: object
Rhizosolenia styliformis 1 561    Rhizosolenia styliformis
Name: scientificname, dtype: object
Skeletonema costatum 1 573    Skeletonema costatum
Name: scientificname, dtype: object
Surirella sp. 1 587    Surirella sp.
Name: scientificname, dtype: object
Thalassionema nitzschioides 1 610    Thalassionema nitzschioides
Name: scientificname, dtype: object
Thalassiosira sp. 1 621    Thalassiosira sp.
Name: scientificname, dtype: object
Thalassiothrix longissima 1 623    Thalassiothrix longissima
Name: scientificname, dtype: object
42

In [57]:
species_andrew.loc[np.where(species_andrew.str.contains('Thalassio'))]

2              Thalassiosira spp.
15      Thalassiothrix longissima
16    Thalassionema nitzschioides
Name: Taxon, dtype: object

In [59]:
species_andrew.values

array(['Paralia sulcata', 'Skeletonema costatum', 'Thalassiosira spp.',
       'Dactyliosolen antarcticus', 'Dactyliosolen mediterraneus',
       'Rhizosolenia imbricata shrubsolei', 'Rhizosolenia styliformis',
       'Rhizosolenia hebetata semispina', 'Rhizosolenia alata indica',
       'Rhizosolenia alata alata', 'Rhizosolenia alata inermis',
       'Chaetoceros (Hyalochaete) spp.', 'Chaetoceros (Phaeoceros) spp.',
       'Biddulphia sinensis', 'Asterionella glacialis',
       'Thalassiothrix longissima', 'Thalassionema nitzschioides',
       'Nitzschia seriata', 'Nitzschia delicatissima', 'Ceratium fusus',
       'Ceratium furca', 'Ceratium lineatum', 'Ceratium tripos',
       'Ceratium macroceros', 'Ceratium horridum', 'Ceratium longipes',
       'Ceratium arcticum', 'Protoceratium reticulatum',
       'Ceratium kofoidii', 'Pyrophacus spp.', 'Actinoptychus spp.',
       'Asteromphalus spp.', 'Bacillaria paxillifer',
       'Bacteriastrum spp.', 'Bellerochea malleus',
       'Biddulphia alternans', 'Biddulphia aurita',
       'Biddulphia granulata', 'Biddulphia regia', 'Biddulphia rhombus',
       'Cerataulina pelagica', 'Climacodium frauenfeldianum',
       'Corethron criophilum', 'Coscinodiscus concinnus',
       'Coscinodiscus spp.', 'Detonula confervacea',
       'Ditylum brightwellii', 'Eucampia zodiacus', 'Fragilaria spp.',
       'Guinardia flaccida', 'Gyrosigma spp.', 'Hemiaulus spp.',
       'Lauderia borealis', 'Leptocylindrus danicus', 'Navicula spp.',
       'Nitzschia closterium', 'Rhaphoneis amphiceros',
       'Planktoniella sol', 'Rhizosolenia acuminata',
       'Rhizosolenia bergonii', 'Rhizosolenia calcar avis',
       'Rhizosolenia delicatula', 'Rhizosolenia fragilissima',
       'Rhizosolenia setigera', 'Rhizosolenia stolterfothii',
       'Schroederella delicatula', 'Stephanopyxis spp.',
       'Streptotheca tamesis', 'Surirella spp.', 'Nitzschia spp.',
       'Odontella mobiliensis', 'Asterionella kariana',
       'Stauroneis membranacea', 'Ceratium falcatum', 'Amphisolenia spp.',
       'Ceratium arietinum', 'Ceratium azoricum', 'Ceratium belone',
       'Ceratium bucephalum', 'Ceratium buceros', 'Ceratium candelabrum',
       'Ceratium carriense', 'Ceratium compressum', 'Ceratium declinatum',
       'Ceratium extensum', 'Ceratium gibberum', 'Ceratium hexacanthum',
       'Ceratium inflatum', 'Ceratium karstenii', 'Ceratium lamellicorne',
       'Ceratium massiliense', 'Ceratium minutum', 'Ceratium pentagonum',
       'Ceratium petersii', 'Ceratium platycorne', 'Ceratium praelongum',
       'Ceratium pulchellum', 'Ceratium setaceum', 'Ceratium teres',
       'Ceratium trichoceros', 'Ceratium vultur', 'Ceratocorys spp.',
       'Cladopyxis spp.', 'Dinophysis spp.', 'Exuviaella spp.',
       'Gonyaulax spp.', 'Oxytoxum spp.', 'Protoperidinium spp.',
       'Podolampas spp.', 'Pronoctiluca pelagica', 'Prorocentrum spp.',
       'Ceratium falcatiforme', 'Ceratium longirostrum'], dtype=object)

In [67]:
mutshinda_species = pd.read_csv("data_base/T0001-10.1080_17451000.2012.731693 (1).csv").Diatom

In [69]:
sum(mutshinda_species.str.contains("Thalassi"))

7

In [70]:
mutshinda_species.loc[np.where(mutshinda_species.str.contains('Thalassio'))]

40                             Thalassionema delicatula
41                  Thalassionema frauenfeldii (Grunow)
42    Thalassionema nitzschioides (Grunow) Mereschko...
43                    Thalassiosira gravida P. T. Cleve
44                         Thalassiosira rotula Meunier
45                              Thalassiosira sp. Cleve
46              Thalassiosira subtilis (Ostenfeld) Gran
Name: Diatom, dtype: object

In [71]:
species_andrew.loc[np.where(species_andrew.str.contains('Thalassio'))]

2              Thalassiosira spp.
15      Thalassiothrix longissima
16    Thalassionema nitzschioides
Name: Taxon, dtype: object

In [78]:
a = []
for spec in mutshinda_species:
    spec_contained = species_andrew.str.contains(spec[0:15])
    if sum(spec_contained) > 0:
        print(spec[0:15], spec, sum(spec_contained), mutshinda_species.loc[np.where(mutshinda_species==spec)])
    a.append(sum(spec_contained>0))
    
print(sum(a))

Bacteriastrum s Bacteriastrum sp. Shadbolt 1 1    Bacteriastrum sp. Shadbolt
Name: Diatom, dtype: object
Cerataulina pel Cerataulina pelagica (Cleve) Hendey 1 2    Cerataulina pelagica (Cleve) Hendey
Name: Diatom, dtype: object
Eucampia zodiac Eucampia zodiacus Ehrenberg 1 13    Eucampia zodiacus Ehrenberg
Name: Diatom, dtype: object
Guinardia flacc Guinardia flaccida (Castracane) Peragallo 1 15    Guinardia flaccida (Castracane) Peragallo
Name: Diatom, dtype: object
Leptocylindrus  Leptocylindrus danicus Cleve 1 22    Leptocylindrus danicus Cleve
Name: Diatom, dtype: object
Leptocylindrus  Leptocylindrus mediterraneus (H. Peragallo) Hasle 1 23    Leptocylindrus mediterraneus (H. Peragallo) Hasle
Name: Diatom, dtype: object
Leptocylindrus  Leptocylindrus minimus Gran 1 24    Leptocylindrus minimus Gran
Name: Diatom, dtype: object
Rhizosolenia he Rhizosolenia hebetate J. W. Bailey 1 35    Rhizosolenia hebetate J. W. Bailey
Name: Diatom, dtype: object
Rhizosolenia im Rhizosolenia imbricate Brightwell 1 36    Rhizosolenia imbricate Brightwell
Name: Diatom, dtype: object
Rhizosolenia se Rhizosolenia setigera Brightwell 1 37    Rhizosolenia setigera Brightwell
Name: Diatom, dtype: object
Rhizosolenia st Rhizosolenia styliformis Brightwell 2 38    Rhizosolenia styliformis Brightwell
Name: Diatom, dtype: object
Skeletonema cos Skeletonema costatum Greville (Cleve) 1 39    Skeletonema costatum Greville (Cleve)
Name: Diatom, dtype: object
Thalassionema n Thalassionema nitzschioides (Grunow) Mereschkowsky 1 42    Thalassionema nitzschioides (Grunow) Mereschko...
Name: Diatom, dtype: object
Thalassiosira s Thalassiosira sp. Cleve 1 45    Thalassiosira sp. Cleve
Name: Diatom, dtype: object
Thalassiosira s Thalassiosira subtilis (Ostenfeld) Gran 1 46    Thalassiosira subtilis (Ostenfeld) Gran
Name: Diatom, dtype: object
16

In [79]:
mutshinda_species

0         Bacteriastrum delicatulum Cleve
1              Bacteriastrum sp. Shadbolt
2     Cerataulina pelagica (Cleve) Hendey
3              Chaetoceros affinis Lauder
4         Chaetoceros anastomosans Grunow
                     ...
67        Trichodesmium thiebautii Gomont
68                                Ciliate
69      Mesodinium rubrum (Lohmann, 1908)
70                       Silicoflagellate
71             Dictyocha fibula Ehrenberg
Name: Diatom, Length: 72, dtype: object

In [80]:
for spec in mutshinda_species:
    print(spec)

Bacteriastrum delicatulum Cleve
Bacteriastrum sp. Shadbolt
Cerataulina pelagica (Cleve) Hendey
Chaetoceros affinis Lauder
Chaetoceros anastomosans Grunow
Chaetoceros compressus Lauder
Chaetoceros decipiens Cleve
Chaetoceros didymus Ehrenberg
Chaetoceros lorenzianus Grunow
Chaetoceros sp. Ehrenberg
Chaetoceros sp. 2
Cylindrotheca closterium (Ehrenberg) Reiman & Lewin
Dactyliosolen fragilissimus (Bergon) Hasle apud G.R. Hasle & Syvertsen
Eucampia zodiacus Ehrenberg
Guinardia delicatula (Cleve) Hasle
Guinardia flaccida (Castracane) Peragallo
Guinardia striata (Stolterfoth) Hasle
Haslea wawrikae (Husedt) Simonsen
Helicotheca tamesis Ricard
Hemiaulus hauckii Grunow in Van Heurck
Hemiaulus sinensis Greville
Lauderia annulata Cleve
Leptocylindrus danicus Cleve
Leptocylindrus mediterraneus (H. Peragallo) Hasle
Leptocylindrus minimus Gran
Navicula sp. Bory de Saint-Vincent
Navicula yarrensis Grunow
Nitzschia fluminensis Grunow
Nitzschia longissima (Brébisson in Kützing) Ralfs in Pritchard
Proboscia alata (Brightwell) Sundström
Pseudo-nitzschia pseudodelicatissima (Hasle) Hasle
Pseudo-nitzschia pungens (Grunow ex P.T. Cleve) Hasle
Pseudo-nitzschia seriata (P.T. Cleve) H. Peragallo in H. & M. Peragallo
Pseudo-nitzschia sp. H. Peragallo in H. & M. Peragallo
Pseudo-nitzschia subfraudulenta (Hasle) Hasle
Rhizosolenia hebetate J. W. Bailey
Rhizosolenia imbricate Brightwell
Rhizosolenia setigera Brightwell
Rhizosolenia styliformis Brightwell
Skeletonema costatum Greville (Cleve)
Thalassionema delicatula
Thalassionema frauenfeldii (Grunow)
Thalassionema nitzschioides (Grunow) Mereschkowsky
Thalassiosira gravida P. T. Cleve
Thalassiosira rotula Meunier
Thalassiosira sp. Cleve
Thalassiosira subtilis (Ostenfeld) Gran
Dinoflagellate
Gonyaulax polygramma Stein
Gymnodinium mitratum Schiller
Gymnodinium sp. Stein
Gyrodinium fusus (Meunier) Akselman
Gyrodinium sp. Kofoid & Swezy
Heterocapsa triquetra (Ehrenberg) Stein
Neoceratium lineatum (Ehrenberg) F. Gomez, D. Moreira & P. Lopez-Garcia
Prorocentrum gracile Schütt
Prorocentrum micans Ehrenberg
Scrippsiella sp. Balech ex A.R. Loeblich III
Scrippsiella trochoidea (Stein) Balech ex A.R. Loeblich III
Coccolithophore
Calcidiscus leptoporus (Murray & Blackman) Loeblich & Tappan
Calcidiscus sp. Kamptner
Calciopappus caudatus Gaarder & Ramsfjell
Calciosolenia murrayi Gran
Emiliania sp. Hay & Mohler, in Hay, Mohler, Roth, Schmidt & Boudreaux + Gephyrocapsa spp. Kamptner
Cyanobacteria
Synechococcus sp. Nägeli
Trichodesmium thiebautii Gomont
Ciliate
Mesodinium rubrum (Lohmann, 1908)
Silicoflagellate
Dictyocha fibula Ehrenberg